body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/

.btn-primary:hover {
    color: #6f0;
    border-color: #6f0;
}

#cookieFooter {
    background-color: #47146a;
    color: #fff;
    position:fixed;
    bottom:0;
    width:100%;
    z-index: 1000;
}

#cookieFooter .container {
    padding: 10px 0;    
}

#cookieFooter button {
    color: #47146a;
}

#cookieFooter a {
    color: #6f0;
}

.navbar-brand {
    font-family: 'Arial Rounded MT', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.alert {
    margin: 5px 0;
}

.tag {
    margin: 5px;
    font-size: 1.1em;
    float: left;
}

.tag a {
    color: #fff;
}

.tag a:hover {
    color: #47146a;
}

.tagList {
    display:inline;
}

#alternateDateTable, #alternateDateTable td, #alternateDateTable th {
    border: none;
}

#alternateDateTable th {
    text-align: center;
}

#volunteerInfo {
    padding-top: 10px;
}

.table-center, .table-center td, .table-center th {
    text-align: center;
    vertical-align: middle !important;
}

#longDescription {
    padding-top: 10px;
}

.event-links, .top-pad {
    padding-top: 15px;
}

.sortFilter>span {
    display: block;
}

.no-resize {
    resize: none;
}

.unread {
    background-color:#D5C9DD;
}

.max-width {
    width:100%;
}

.pagerSection {
    text-align:center;
    margin: 0 auto;
}

.message-table, .message-table th {
    text-align:center;
}

.vertical-sm-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.vertical-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.remove-margin {
    margin: 0;
}

#resolve {
    margin-top: 25px;
}

#resolvedLink {
    text-align: right;
}

.panel {
    padding-bottom: 15px;
}

.vertical-center {
    vertical-align: middle !important;
}

@media screen and (min-width: 768px) {
    .navbar div div ul li a {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}