@{ 
    ViewBag.Title = "Reactivate";
}
    <h3>Are you sure you want to reactivate your account?</h3>
    <div>
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Activate" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
