@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}
<table>
    <tr>
        <td align="center" colspan="2">
            <h2> Create User Roles</h2>
        </td>

    </tr>

    <tr>
        <td>
            <table id="tbrole">

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>}
            </table>
        </td>
        <td>
            @Html.ActionLink("Create New Role", "Create", "Role")
        </td>
    </tr>
</table>




