@{
    ViewBag.Title = "Confirmation";
}

<h2>Thank You!</h2>
<hr/>
<p>
    Thank you for taking the time to make this report. We make every effort to ensure that our community is a friendly and safe environment for everyone who joins,  
    unfortunately we can't automatically find or prevent any content that may offend all the time therefore any help you provide can make a real difference.
</p>
<p>
    We will contact you with any updates as the issue is progressed or resolved through the details provided on your account. Please ensure these details are up to 
    date to ensure we are able to contact efficiently.
</p>

