
@{
    ViewBag.Title = "Oops! Page Not Found!";
}
<div class="text-center">
    <h2>Page Not Found!</h2>
    <h3>Oops! It seems the page you have requested doesn't exist!</h3>
    <h4>You may have mis-typed the URL. Please check your spelling before trying again.</h4>
    <br /><br />
    @Html.ActionLink("Return to Homepage", "Index", "Home", new { @class = "btn btn-primary" })
</div>

