
@{
    ViewBag.Title = "Oops! Something went wrong!";
}
<div class="text-center">
    <h2>Oops! Something went wrong!</h2>
    <h3>Request Timed Out!</h3>
    <h4>It seems there was a problem with our servers, we couldn't process your request in a timely manner. Why not go back and try again?</h4>
    <p>If the problem continues, please email: <a href="mailto:info@theneighbourhub.online">info@theneighbourhub.online</a></p>
    <br /><br />
    @Html.ActionLink("Return to Homepage", "Index", "Home", new { @class = "btn btn-primary" })
</div>

