@model IEnumerable<Community.Models.EventTag>

@if (Model.Count() != 0)
{
    <h3>Tags</h3>
    <h5 class="col-xs-12 tagList text-center">
        @foreach (var item in Model)
        {
            <span class="label label-info tag">@Html.DisplayFor(modelItem => item.Tag.Name)</span>
        }
    </h5>
}