@model IEnumerable<Community.Models.EventTag>
<h3>Tags</h3>
<div class="col-xs-12 tagList">
@foreach (var item in Model) {
    <span class="label label-info tag">@Html.DisplayFor(modelItem => item.Tag.Name)</span>
}
</div>
