@using (Html.BeginForm("Search", "Event"))
{
    <div class="row" id="eventSearch">
        <div class="col-xs-12 eventSearch">
            <div class="col-xs-9">
                <input class="form-control" aria-label="" id="postcode" name="postcode" placeholder="Postcode" type="text">
                <p class="text-warning" id="postcodeWarning">@ViewBag.PostcodeMessage</p>
            </div>
            <div class="col-xs-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            <input type="hidden" value="10" name="distance" />
        </div>
    </div>
}
