@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>About Us</h2>
<p>Founded in 2016, NeighbourHub was built upon the key principle of bringing people together through volunteering based participation. With this in mind NeighbourHub is dedicated to providing a safe, secure and free service to help facilitate our aims.3 key princples:<ol><li>Encouraging volunteering in the local area</li><li></li></ol></p>
</div>

<p>Use this area to provide additional information.</p>
