@{
    ViewBag.Title = "About";
    ViewBag.Description = "Learn more about Neighbourhub";
}
<div class="container-fluid vertical-padding-2x">
    <div class="container">
        <h2 class="text-center">About Us</h2>
        <h4 class="vertical-padding">
            Founded in 2016, NeighbourHub was built upon the main principle of bringing people together through volunteering 
            based participation. With this in mind NeighbourHub is dedicated to providing a safe, secure and free service to 
            help facilitate our aims. 3 of our key princples:
            <ol class="vertical-padding-2x">
                <li class="vertical-padding">Encouraging volunteering in the local area</li>
                <li class="vertical-padding">Helping the individuals in a community who need it most</li>
                <li class="vertical-padding">Creating a sense of community</li>
            </ol>
        </h4>
        <p>Use this area to provide additional information.</p>
    </div>
</div>


