@{
    ViewBag.Title = "Cookies Policy";
}

<h2>Cookies Policy</h2>
<h4>Credit</h4>
<p>This document was created using a Contractology template available at <a href="http://www.contractology.com">http://www.contractology.com</a>.</p>

<h4>About Cookies</h4>
<p>
    This website uses cookies.  By using this website and agreeing to this policy, you consent to NeighbourHub's use of cookies in accordance with the terms of this policy.
    <br /><br />
    Cookies are files sent by web servers to web browsers, and stored by the web browsers.
    <br /><br />
    The information is then sent back to the server each time the browser requests a page from the server.  This enables a web server to identify and track web browsers.
    <br /><br />
    There are two main kinds of cookies: session cookies and persistent cookies.  Session cookies are deleted from your computer when you close your browser, whereas persistent cookies remain stored on your computer until deleted, or until they reach their expiry date.
</p>
<h4>Cookies on our website</h4>
<p>
    NeighbourHub uses the following cookies on this website, for the following purposes:
    <ul>
        <li><b>Authentication</b><br /> We use cookies to verify your accounts and determine when you're logged in so we can make it easier for you to access NeighbourHub's services.</li>
        <li><b>Site features and services</b><br />We use cookies to enable the functionality that helps us provide the NeighbourHub Services.</li>
    </ul>
</p>
<!--
<h4>Google Cookies</h4>
<p>NeighbourHub uses Google Analytics to analyse the use of this website.  Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers.  The information generated relating to our website is used to create reports about the use of the website. Google will store and use this information.  Google's privacy policy is available at: http://www.google.com/privacypolicy.html.</p>
    -->
<h4>Refusing Cookies</h4>
<p>
    Most browsers allow you to refuse to accept cookies.
    <br /><br />
    In Internet Explorer, you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector.
    <br /><br />
    In Firefox, you can adjust your cookies settings by clicking “Tools”, “Options” and “Privacy”.
    <br /><br />
    Blocking cookies may have a negative impact upon the usability of this website.
</p>